* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-family: 'Manrope', sans-serif;
	background-color: hsl(218, 23%, 16%);
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.advice-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: hsl(217, 19%, 24%);
	text-align: center;
	width: 35%;
	border-radius: 20px;
	flex-wrap: wrap;
	position: relative;
}

.advice-card img {
	padding: 20px;
}

.advice-name-number {
	color: hsl(150, 100%, 66%);
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 3px;
	padding-top: 50px;
	padding-bottom: 20px;
}

.advice {
	color: hsl(193, 38%, 86%);
	font-size: 28px;
	padding: 20px;
}

#divider {
	padding-bottom: 40px;
}
#divider img {
	max-width: 90%;
}

.advice-dice {
	background-color: hsl(150, 100%, 66%);
	height: 64px;
	position: absolute;
	bottom: -32px;
	z-index: 5;
	border-radius: 50%;
}

.advice-dice img {
	color: black;
}

@media (max-width: 375px) {
	.advice-card {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: hsl(217, 19%, 24%);
		text-align: center;
		width: 85%;
		border-radius: 20px;
		flex-wrap: wrap;
	}
	.advice {
		color: hsl(193, 38%, 86%);
		font-size: 22px;
		padding: 20px;
	}

	.advice-dice {
		background-color: hsl(150, 100%, 66%);
		height: 64px;
		position: absolute;
		z-index: 5;
		top: 320px;
		border-radius: 50%;
	}

	.advice-dice img {
		color: black;
	}
}
